@import "../../../../../theming/variables";

body{
  margin: 2rem;
}

mat-sidenav-container{
  height: 100%;
  width: 100%;
  margin: 0;
}

mat-sidenav {
  background-color: $navbar-color;
  width: 18rem;
}



