@import "../../../../../theming/variables";

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

mat-sidenav-container{
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin: 0;
}

mat-sidenav {
  background-color: $navbar-color;
  width: 18rem;
  position: fixed;
  height: 100vh;
}

.logo-res {
  width: 100%;
  height: auto;
}

.nav-list {
  margin-top: 1.5rem;

  mat-list-item {
    margin-top: 2.5rem;
    text-decoration: none;
  }
}

.logo-divider {
  margin-top: 4rem;
  border-top-color: dimgrey;
}

.item-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;

  span {
    font-size: 125%;
  }

  i {
    align-self: center;
  }
}



