@import "../../../theming/variables";

.speech-result-width {
  padding-left: 20px;
  padding-right: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}

.bubble-box {
  width: inherit;
  height: inherit;
}

.box {
  width: inherit;
  margin: auto auto;
  border-radius: 0.5rem;
  background: $primary-color;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  position:relative;
}

// TODO box mobile view

.sb2:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid $primary-color;
  border-top: 15px solid $primary-color;
  border-bottom: 15px solid transparent;
  left: -19px;
  top: 0;
}

.alina-bubble {
  width: inherit;
}

.next-button {
  max-height: 2.25rem;
  margin-top: 0.75rem;
}

mat-card {
  width: 100%;
}

.card-headers {
  /*  not needed styles to reflect it */
  padding: 10px;
  width: 100%;

  /* needed styles below */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

::ng-deep .mat-card-header-text {
  margin: 0 0;
}

.lang-select {
  font-size: 0.9rem;
}

.instructions {
  background-color: lightgrey;
}

.start-button {
  margin: 1rem 1rem;
  font-size: 2.5rem;
  padding: 0.5rem 0.5rem;
}

.custom-button {
  padding: 0 0.7rem;
}

.custom-button:disabled {
  background-color: dimgrey !important;
  cursor: wait;
}

.timer {
  color: #303030;
  background-color: #eee;
  padding: 10px 15px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
}

::ng-deep .timer-tile .mat-figure {
  justify-content: flex-end !important;
}

.question {
  font-weight: 700;
  font-size: 1.5rem;
}

.center {
  margin-top: 3rem;
  padding: 10px;
  text-align: center;
}

::ng-deep .mat-fab .mat-button-wrapper {
  padding: 0 0;
}

.center-1 {
  padding: 10px;
  text-align: center;
}

mat-icon {
  padding: 0 0;
}

.notification {
  margin-left: 20px;
  margin-right: 20px;
}
