<form [formGroup]="experienceForm" (ngSubmit)="onExperienceSubmit()">
  <mat-dialog-content formGroupName="experience" class="accordion-container">
    <h3>Add Experience</h3>
    <p>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="title" placeholder="Designation" type="text">
      </mat-form-field>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="company" placeholder="Company Name" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-slide-toggle class=" half-width reg-container" formControlName="current">Current?</mat-slide-toggle>
    </p>
    <p>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="industry" placeholder="Industry" type="text">
      </mat-form-field>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="department" placeholder="Department" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="functionalArea" placeholder="Functional Area" type="text">
      </mat-form-field>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="role" placeholder="Role" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="scope" placeholder="Scope" type="text">
      </mat-form-field>
    </p>
    <p>
      <span class="reg-container">Duration</span><br>
      <mat-form-field class=" half-width reg-container">
        <input matInput [matDatepicker]="pickerFrom8" formControlName="startDate" placeholder="Start Date" type="text" required>
        <mat-datepicker-toggle matSuffix [for]="pickerFrom8"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom8 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class=" half-width reg-container">
        <input matInput [matDatepicker]="pickerTo8" formControlName="endDate" placeholder="End Date" type="text" required>
        <mat-datepicker-toggle matSuffix [for]="pickerTo8"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo8 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class=" half-width reg-container">
        <input matInput formControlName="noticePeriod" placeholder="Notice Period" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width reg-container">
        <input matInput formControlName="salary" placeholder="Annual Salary INR (₹)" type="number" pattern="\d*" min=50000 step=1000>
      </mat-form-field>
    </p>
    <p class="full-width reg-container">
      <span>Documents Available</span><br>
      <label>Offer Letter
        <input class="lang-checkbox" type="checkbox" formControlName="offerLetter">
      </label>
      <label>Last three months Salary Slip
        <input class="lang-checkbox" type="checkbox" formControlName="salarySlip">
      </label>
      <label>Experience or Relieving Letter
        <input class="lang-checkbox" type="checkbox" formControlName="expOrRelLetter">
      </label>
      <label>Resignation Acceptance Letter
        <input class="lang-checkbox" type="checkbox" formControlName="resignAccept">
      </label>
      <label>Promotion Letter
        <input class="lang-checkbox" type="checkbox" formControlName="promotionLetter">
      </label>
    </p>
    <p>
      <mat-form-field class="full-width reg-container">
        <textarea matInput formControlName="summary" placeholder="Describe your Role" type="text" rows="12"></textarea>
      </mat-form-field>
    </p>
    <div formArrayName="skillSets">
      <mat-form-field class="half-width reg-container">
        <input #implementedSkill matInput placeholder="Skill-Sets implemented / acquired" type="text">
      </mat-form-field>
      <button type="button" class="icon-button" (click)="addSkillSet(implementedSkill.value); implementedSkill.value = '';">
        <i class="fa fa-plus-square-o"></i></button>
      <div *ngIf="skillsArray.controls.length>0" class="lang-container reg-container full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-label><h4>Skill</h4></mat-label>
        <mat-label><h4>Acquired / Implemented</h4></mat-label>
        <mat-label><h4>Proficiency</h4></mat-label>
        <mat-label>Delete Skill</mat-label>
      </div>
      <div class="lang-container reg-container full-width" *ngFor="let skill of skillsArray.controls; let j = index;"
           [formGroupName]="j" fxLayout="row" fxLayoutAlign="space-between center">
        <span *ngIf="skill.value.name">
          <span>
            <h4>{{skill.value.name}}</h4>
          </span>
        </span>
        <span *ngIf="skill.value.name">
          <mat-radio-group formControlName="skillType" fxLayout="column" fxLayoutAlign="center start">
            <mat-radio-button class="radio-button" value="implemented">
              Implemented
            </mat-radio-button>
            <mat-radio-button class="radio-button" value="acquired">
              Acquired
            </mat-radio-button>
          </mat-radio-group>
        </span>
        <span *ngIf="skill.value.name">
          <mat-radio-group formControlName="proficiency" fxLayout="column" fxLayoutAlign="center start">
            <mat-radio-button class="radio-button" value="beginner">
              Beginner
            </mat-radio-button>
            <mat-radio-button class="radio-button" value="intermediate">
              Intermediate
            </mat-radio-button>
            <mat-radio-button class="radio-button" value="advanced">
              Advanced
            </mat-radio-button>
          </mat-radio-group>
        </span>
        <span>
            <button type="button" class="icon-button" (click)="deleteSkillSet(j)"><i class="fa fa-minus-square-o"></i></button>
          </span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-button class="button-custom background-primary text-floral-white">
      Reset</button>
    <span class="flex-spacer"></span>
    <button type="submit" mat-button class="button-custom background-primary text-floral-white">Save</button>
  </mat-dialog-actions>
</form>


