<mat-toolbar>
  Register
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">     <!--novalidate to skip the html form validation and use angular form validation-->
  <mat-dialog-content>
    <p>
      <mat-form-field class="container">  <!-- to group set of form elements-->
        <input matInput placeholder="Username" type="text" formControlName="username">
        <!--<mat-error *ngIf="username.errors?.required">Username is required</mat-error>-->
      </mat-form-field>
      <mat-form-field class="container">  <!-- to group set of form elements-->
        <input matInput placeholder="Password" type="password" formControlName="password">
        <!--<mat-error *ngIf="password.errors?.required">Password is required</mat-error>-->
      </mat-form-field>
      <mat-form-field class="container">  <!-- to group set of form elements-->
        <input matInput placeholder="Otp" type="otp" formControlName="otp">
        <!--<mat-error *ngIf="otp.errors?.required">Otp is required</mat-error>-->
      </mat-form-field>
      <mat-radio-group class="container" formControlName="type">
        <mat-radio-button class="radio-margin" value="candidate">Job Seeker</mat-radio-button>
        <mat-radio-button class="radio-margin" value="client">Employer</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <span class="flex-spacer"></span>
    <button mat-button type="submit" class="background-primary text-floral-white"
            [disabled]="formDisabled()" [routerLink]="userData.type === ">
      Register</button>
  </mat-dialog-actions>
</form>
