@import "../../../../theming/variables";

@mixin myPanel()
{
  .my-panel .mat-dialog-container {
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
  }
}

.mat-toolbar {
  background-color: white;
  color: $primary-color;
}

.toolbar-button {
  font-size: 150%;
  background-color: white;
}

.toolbar-button:hover {
  font-size: 170%;
  color: white;
  background-color: $accent-color;
}

.radio-margin {
  margin-right: 4rem;
}
