<div class="container" fxLayout="column" fxLayoutGap="10px">
  <mat-card id="salaryProjection">
    <mat-card-header>
      <mat-card-title>
        <h3>
          Salary Projections
        </h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-line-chart></app-line-chart>
    </mat-card-content>
  </mat-card>
  <mat-grid-list [cols]="breakpoint" cols="2" rowHeight="1:1" (window:resize)="onResize($event)" gutterSize="1rem">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>
              Stability Matrix
            </h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-donut-chart></app-donut-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>
              Change Prediction Matrix
            </h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-area-chart></app-area-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
