@import "../../../theming/variables";

.overview-container{
  padding: 1rem 1rem;
}

body{
  margin: 2rem;
}

.logo-front-page {
  height: auto;
}

.top-container {
  margin: 1rem;
  display: flex;
}

.button-container {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
}

.logo-container {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
}

.custom-button {
  margin: 1rem 1rem;
}

.card-layout {
  min-width: 18rem;
  min-height: 12rem;
  margin-top: 1rem;
}

.custom-color {
  color: $accent-color;
}

li {
  padding: 6px;
}

.home-container{

}

.team-container {
  padding: 1rem 1rem;
}

.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.form-size {
  width: 75%;
}

.button-margin {
  margin-left: 1rem;
}



/*@media screen and (min-width: 900px) {
  .overview-container:not(:last-child):after {
    border-right: 1px solid $primary-color;
  }
}*/

/*
@media screen and (max-width: 900px) {
  .overview-container {
    border-bottom: 1px solid $primary-color;
  }
}
*/
