<div class="container "
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div class="top-container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">
      <div class="logo-container" fxFlex="40">
        <img src="assets/images/logo.png" class="logo-front-page" alt="logo">
      </div>
      <div class="button-container" fxFlex="60">
        <button mat-button class="custom-button primary-iboxz text-floral-white" (click)="openLoginForm()">Login</button>
        <span style="display: flex; align-items: center; justify-content: center;"><i>or</i></span>
        <button mat-button class="custom-button primary-iboxz text-floral-white" (click)="openRegisterForm()">Register</button>
      </div>
    </div>
  </div>

  <div class="home-container" fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center"  fxLayoutGap="10px">
    <div *ngFor="let overview of overviews">
      <mat-card class="card-layout" fxLayoutAlign="center center">
        <div class="overview-container" fxFlex="auto">
          <h1 fxLayoutAlign="center center" class="custom-color">{{overview.count}}</h1>
          <h3 fxLayoutAlign="center center">{{overview.name}}</h3>
          <p fxLayoutAlign="center center">{{overview.description}}</p>
        </div>
      </mat-card>
    </div>
  </div>

  <div fxFlex>
    <div class="container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">
      <div fxFlex="60">
        <h2>Redefining Hiring</h2>
        <li>Automated AI (Artificial Intelligence) &amp; ML(Machine Learning) driven data sourcing.</li>
        <li>Automated pre screening hiring operations.</li>
        <li>Automated self initiated assessments.</li>
        <li>AI &amp; ML implemented and devised assessment window.</li>
        <li>Zero wait time response module.</li>
        <li>ML implemented and profile driven job suggestion module.</li>
        <li>Zero intervention hiring procedure.</li>
      </div>
      <div class="container" fxFlex="40" >
        <img src="assets/images/tie.png" height="470rem" alt="tie">
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h2 fxLayoutAlign="center center">Goal to achieve !!</h2>
        <p fxLayoutAlign="center center">'Creating an environment of opportunities &amp; zero wait response module.'</p>
      </blockquote>
    </mat-card>
  </div>

  <div fxFlex>
    <div class="container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">
      <div fxFlex="30" class="container" >
        <img src="/assets/images/jobseeker.png" height="400rem" alt="jobseeker">
      </div>
      <div fxFlex="70">
        <h1>Job Seekers: How iboxz can help!</h1>
        <ul>
          <li>Spontaneity in job application process.</li>
          <li>Easy and simple process for applying to a job and scheduling Interviews.</li>
          <li>Instant interview scheduling.</li>
          <li>Interviews to be scheduled only after profile is created and resume uploaded.</li>
          <li>Interview tips and dedicated briefing upon screening selection.</li>
          <li>Visibility to relevant matching jobs and interview schedules.</li>
          <li>Clarity about the job responsibilities and nature of work.</li>
          <li>Dedicated support lines to clear any doubts by expert HR assessors and Trainers</li>
          <li>Online mandatory qualifier assessments for every job opening</li>
          <li>Opportunity to join us as Referral Partner for <strong class="custom-color">extra income</strong>.</li>
          <li class="custom-link">Every candidate automatically eligible for Referral partner business. Just mail us - <a href="mailto:hiring@iboxz.in"> hiring@iboxz.in</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div fxFlex>
    <div class="container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">
      <div fxFlex="70">
        <h1>Hiring Companies: Let's resolve your hiring woes!</h1>
        <ul>
          <li>Our partners is our strength, iboxz can source for any size of requirements.</li>
          <li>iboxz gives companies to reach out to 100's and 1000's of our Referral Partners functioning as recruiters.</li>
          <li>Recruiters / partners are from same background so referring is quick, easy and relevant.</li>
          <li>Partner would be able to close the vacant positions quickly.</li>
          <li>As per researches done, a referral candidate takes least amount of time for on-boarding</li>
          <li>All interviews can be scheduled at company campus itself.</li>
          <li>Interviewers can have access to the screening data and profiles submitted to them.</li>
          <li>Time saving &amp; Cost effective.</li>
          <li>Relevant sourcing results in better business punctuations in long run.</li>
        </ul>
      </div>
      <div fxFlex="30" class="container" >
        <img src="/assets/images/companies.png" height="350rem">
      </div>
    </div>
  </div>


  <div fxFlex>
    <h1 style="margin-left: 2rem">Team iboxz</h1>
    <div *ngIf="members">
      <div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center"  fxLayoutGap="10px">
        <div *ngFor="let member of members">
          <div class="team-container" fxFlex="auto">
            <img src="{{member.image}}" alt="{{member.name}}" height="200rem">
          </div>
          <div class="team-container" fxFlex="auto">
            <h3 class="custom-color">{{member.name}}</h3>
            <p>{{member.abbr}}</p>
            <a mat-icon-button class="btn-facebook" href="{{member.facebook}}" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
            <a mat-icon-button class="btn-linkedin" href="{{member.linkedIn}}" title="LinkedIn"><i class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter" href="{{member.twitter}}" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div id="contact" fxFlex>
    <h1>Contact Us</h1>
    <div class="container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">
      <div fxFlex="70">
        <h3>We'd Love to Hear From You!</h3>
        <p>Write us an email and we'll get back to you.</p>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onCandidateSubmit()">
          <p>
            <mat-form-field class="half-width team-container">
              <input matInput formControlName="firstName" placeholder="First Name" type="text" required>
              <mat-error *ngIf="feedbackForm.get('firstName').hasError('required') && feedbackForm.get('firstName').touched">
                First Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width team-container">
              <input matInput formControlName="lastName" placeholder="Last Name" type="text" required>
              <mat-error *ngIf="feedbackForm.get('lastName').hasError('required') && feedbackForm.get('lastName').touched">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width team-container">
              <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
              <mat-error *ngIf="feedbackForm.get('telnum').hasError('required') && feedbackForm.get('telnum').touched">
                Tel Number is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width team-container">
              <input matInput formControlName="email" placeholder="Email" type="email" required>
              <mat-error *ngIf="feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched">
                Email is required
              </mat-error>
            </mat-form-field>
          </p>
          <table class="form-size team-container">   &lt;!&ndash; these elements are hard to position without a table &ndash;&gt;
            <td>
              <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
            </td>
            <td>
              <mat-select placeholder="How?" formControlName="contacttype">
                <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                  {{ ctype }}
                </mat-option>
              </mat-select>
            </td>
          </table>
          <p>
            <mat-form-field class="full-width team-container">
              <textarea matInput formControlName="message" placeholder="Your Message" rows="12"></textarea>
            </mat-form-field>
          </p>
          <button mat-button type="submit" class="background-primary text-floral-white button-margin"
                  [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>

      <div fxFlex="30">
        <h3>Location Information</h3>
        <div>
          <h4>Our Address</h4>
          <address style="text-size: 80%">
            C23, Basement<br> Shivalik, New Delhi, Delhi, 110017 <br> India<br>
            <p class="custom-link">
              <a href="tel:18005720720">
                <i class="fa fa-phone"></i>: 1800-5-720-720<br>
              </a>
            </p>
            <p class="custom-link">
              <a href="mailto:hiring@iboxz.in">
                <i class="fa fa-envelope-o"></i> : hiring@iboxz.in<br>
              </a>
            </p>
          </address>
        </div>
      </div>
    </div>
  </div>-->

  <!-- Footer -->
  <div class="container footer"
       fxLayout="row wrap"
       fxLayout.lt-md="column"
       fxLayoutAlign="center center"
       fxLayoutGap="10px">
    <div fxFlex="100" fxFlex.gt-sm="45">
      <div style="text-align:center">
        <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/iboxz.in/"><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/company/iboxz/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-twitter" href="https://twitter.com/iboxz2" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
        <!--<a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>-->
        <a mat-icon-button class="btn-mail" href="mailto:hiring@iboxz.in"><i class="fa fa-envelope-o fa-lg"></i></a>
        <a mat-icon-button class="btn-phone" href="tel:01204323673"><i class="fa fa-phone fa-lg"></i></a>
      </div>
    </div>
  </div>
  <!-- Footer End -->
</div>
