@import "../../../../theming/variables";

.video-chat {
  margin-top: 2rem;
}

#agora_local{
  height: 500px;
  width: 500px;
  display: inline-block;
}

.remote-containers div{
  height: 250px;
  width: 250px;
}
