<div class="container" fxLayout="column" fxLayoutGap="10px">
  <form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-card class="accordion-container">
      <mat-card-header>
        <mat-card-title>
          <h3>Recruiter Details</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Please fill these details as per official documents</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">
          <div fxFlex="70">
            <p>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="recruiterName" placeholder="Recruiter Name" type="text" required>
              </mat-form-field>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="mobileNumber" placeholder="Mobile Number" type="number" min="0" required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="landLine" placeholder="Land-Line Number" type="number" min="0" required>
              </mat-form-field>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="email" placeholder="Official Email" type="text" required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="designation" placeholder="Designation" type="text" required>
              </mat-form-field>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="companyName" placeholder="Company Name" type="text" required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="industry" placeholder="Industry" type="text" required>
              </mat-form-field>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="department" placeholder="Department" type="text" required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="functionalArea" placeholder="Functional Area" type="text" required>
              </mat-form-field>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="role" placeholder="Role" type="text" required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="full-width reg-container">
                <input matInput formControlName="website" placeholder="Company Website" type="text" required>
              </mat-form-field>
            </p>
          </div>
          <div fxFlex="30">
            <div>
              <img class="image_responsive" src="../../../../../assets/images/placeholders/fa-user.png" *ngIf="!imageUrl" alt="Place Holder">
              <img class="image_responsive" *ngIf="imageUrl" [src]="imageUrl" style="max-width: 33rem" alt="Profile Picture">
              <input style="display: none" accept="image/*" type="file" (change)="fileProgress($event)" #fileInput/>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <button type="button" mat-button class="background-primary text-floral-white" (click)="fileInput.click()">
                  Select Profile Picture</button>
                <button type="button" mat-button class="background-primary text-floral-white" (click)="saveProfilePicture()">
                  Save</button>
              </div>
            </div>
          </div>
        </div>
        <mat-accordion class="accordion-container" formGroupName="address">
          <mat-panel-title>
            <h3>Address Details</h3>
          </mat-panel-title>
          <p>
            <mat-form-field class="half-width reg-container">
              <input matInput formControlName="addressLine1" placeholder="Address Line 1" type="text">
            </mat-form-field>
            <mat-form-field class="half-width reg-container">
              <input matInput formControlName="addressLine2" placeholder="Address Line 2" type="text">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="half-width reg-container">
              <input matInput formControlName="city" placeholder="City" type="text">
            </mat-form-field>
            <mat-form-field class="half-width reg-container">
              <input matInput formControlName="state" placeholder="State" type="text" >
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width reg-container">
              <input matInput formControlName="zipCode" placeholder="Pin Code" type="text">
            </mat-form-field>
            <mat-form-field class="half-width reg-container">
              <input matInput formControlName="country" placeholder="Country" type="text">
            </mat-form-field>
          </p>
        </mat-accordion>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="reg-container action-custom">
        <button mat-button type="button" class="background-primary text-floral-white button-custom">Reset</button>
        <button mat-button type="submit" class="background-primary text-floral-white button-custom">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
