@import "../../../../../theming/variables";


.reg-container {
  padding: 1rem 1rem;
}

.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.image-holder {
  font-size: 2000%;
  color: dimgrey;
  padding: 1rem 1rem;
}

.accordion-container {
  margin: 1.25rem;
}

.custom-container{
  margin: 20px;
  display: flex;
}

.button-custom {
  margin: 1rem 1rem;
  width: 12rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 130%;
}

.action-custom {
  display: flex;
  justify-content: space-between;
}
