@import "../../../theming/variables";

mat-sidenav-container{
  height: 100%;
  width: 100%;
  margin: 0;
}

mat-sidenav {
  background-color: $background-light;
  width: 25rem;
}

mat-toolbar {
  background-color: $background-grey;
  position: fixed;
  z-index: 2;
  top: 0;
}

.active-link {
  color: blue;
  font-weight: bold !important;
  border: none;
}

.customfont {
  font-size: 100%;
}

::ng-deep .mat-icon{
  height: 2rem !important;
  width: 2rem !important;
  font-size: 2rem !important;
  padding-top: 5px;
  padding-left: 4px;
  align-items: center;
}

.button {
  padding: 1rem 1rem;
}

.logo-image {
  padding-top: 0.5rem;
  padding-left: 2rem;
}

.active {
  background: $background-moredark;
}

@mixin footer-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.footer{
  @include footer-margin(20px, 0px);
}

@media screen and (max-width: 900px) {
  .mat-sidenav {
    background-color: $background-light;
    width: 12rem;
  }
}
