@import "../../../theming/variables";

mat-sidenav-container{
  height: 100%;
  width: 100%;
  margin: 0;
}

mat-sidenav {
  background-color: $navbar-color;
  width: 18rem;
  margin-top: 6rem;
}

mat-sidenav-content {
  padding-top: 5rem;
}

mat-toolbar {
  background-color: $navbar-color;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 6rem;
}

mat-icon {
  padding-left: 0;
  padding-top: 7px;
  color: white;
}

mat-list-item {
  color: white;
}


.sidenav-link {
  text-decoration: none;
  color: white;
  font-size: 125%;
}

.active-link {
  background-color: black;
  font-weight: bold !important;
  border: none;

  i {
    color: $accent-color;
  }
}

.customfont {
  font-size: 100%;
  color: white;
}

::ng-deep .mat-icon{
  height: 2rem !important;
  width: 2rem !important;
  font-size: 2rem !important;
  padding-top: 5px;
  padding-left: 4px;
  align-items: center;
}

.button {
  padding: 1rem 1rem;
}

.logo-image {
  padding-top: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 35%;
  width: 35%;
}

.active {
  background: $background-moredark;
}

@mixin footer-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.footer{
  @include footer-margin(20px, 0px);
}

@media screen and (max-width: 900px) {
  mat-sidenav {
    background-color: #696969;
    width: 12rem;
    color: white;
    margin-top: 4rem;
  }

  mat-toolbar {
    background-color: #696969;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 4rem;
  }

  .logo-image {
    padding-top: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 2rem;
    height: 45%;
    width: 45%;
  }

  .sidenav-link {
    text-decoration: none;
    color: white;
    font-size: 115%;
  }
}
