<!-- Header Toolbar -->
<mat-toolbar>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sideNavToggle(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/navigation"><span><img class="logo-image" src="assets/images/logo.png"></span></a>
  <span class="flex-spacer"></span>
  <a routerLink="/profile"><span>Profile</span></a>
</mat-toolbar>
<!-- Hearer Toolbar End -->

<mat-sidenav-container>
  <mat-sidenav [opened]='isLargeScreen()' [mode]="isLargeScreen() ? 'side' : 'over'" #sidenav fixedInViewport>
    <mat-nav-list>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/dashboard" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"><i class="fa fa-line-chart" aria-hidden="true"></i>  Dashboard</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/assessment" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Assessment</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/test" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-black-tie" aria-hidden="true"></i> Test</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/jobs" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-briefcase" aria-hidden="true"></i> Jobs</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/refer" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-handshake-o" aria-hidden="true"></i> Refer a Friend</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/wallet" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-google-wallet" aria-hidden="true"></i> iboxz Wallet</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/profile" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-user-o"></i> Profile</h4>
      </mat-list-item>
      <mat-list-item class="sidenav-link" routerLinkActive="active-link">
        <h4 matLine routerLink="/videoChat" (click)="isLargeScreen() ? null : sideNavToggle(sidenav)"> <i class="fa fa-video-camera"></i> Video Chat</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
