<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{profile.firstname}} {{profile.lastname}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="profile">
          <div fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start top"  fxLayoutGap="10px">
            <div class="div-container">
              <img src="{{profile.image}}" alt="{{profile.firstname}}">
            </div>
            <div class="div-container">
              <h2 class="div-container">{{profile.designation}}</h2>
              <p class="div-container">{{profile.description}}</p>
              <h4 class="div-container">{{profile.email}}</h4>
              <div class="div-container">
                <a mat-icon-button class="btn-facebook" href="{{profile.facebook}}"><i class="fa fa-facebook fa-lg"></i></a>
                <a mat-icon-button class="btn-linkedin" href="{{profile.linkedin}}"><i class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button class="btn-twitter" href="{{profile.twitter}}" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="profile">
          <div fxLayoutAlign="center center">
            <mat-spinner color="accent"></mat-spinner><h3>Loading . . . . .</h3>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <div>
      <h2 matLine>Education</h2>
      <mat-list>
        <mat-list-item *ngFor="let edu of education">
          <h3 matLine><span>{{edu.degree}}</span></h3>
          <p matLine><span>{{edu.institute}}</span></p>
          <p matLine><span>{{edu.department}}</span></p>
          <p matLine><span>  -- {{edu.duration}}</span></p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div>
    <div>
      <h2 matLine>Experience</h2>
      <mat-list>
        <mat-list-item *ngFor="let exp of experience">
          <h3 matLine><span>{{exp.title}}</span></h3>
          <p matLine><span>{{exp.company}}</span></p>
          <p matLine><span>{{exp.summary}}</span></p>
          <p matLine><span>  -- {{exp.duration}}</span></p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
