@import "../../../../theming/variables";

body{
  margin: 2rem;
}

.custom-color {
  color: $accent-color;
}

.custom-container{
  margin: 20px;
  display: flex;
}

.reg-container {
  padding: 1rem 1rem;
}

.full-width {
  width: 95%;
}

.half-width {
  width: 40%;
}

.min-width {
  width: 18.5%;
}

mat-card, .mat-button {
  margin-top: 1rem;
}

.form-size {
  width: 85%;
}

.fa {
  font-size: 2000%;
  color: dimgrey;
  padding: 1rem 1rem;
}

.button-custom {
  margin-left: 1rem;
  width: 15rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 160%;
}
