<div class="container" fxLayout="column" fxLayoutGap="10px">
  <form novalidate [formGroup]="registrationForm" #jobPostingForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          New Job Posting
        </mat-card-title>
        <mat-card-subtitle>
          Add job details
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field class="full-width reg-container">
            <input matInput formControlName="jobTitle" placeholder="Job Title" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="designation" placeholder="Designation" type="text" required>
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="workLocation" placeholder="Work Location" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="industry" placeholder="Industry" type="text" required>
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="department" placeholder="Department" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="functionalarea" placeholder="Functional Area" type="text" required>
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="role" placeholder="Role" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="scope" placeholder="Scope" type="text" required>
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="expRange" placeholder="Experience Range" type="text" required>
          </mat-form-field>
        </p>
        <p formGroupName="salaryRange">
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="from" placeholder="From" type="number" min="5000" step="1000" required>
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="to" placeholder="To" type="number" min="5000" step="1000" required>
          </mat-form-field>
        </p>
        <div formArrayName="skillSetsRequired">
          <mat-form-field class="half-width reg-container">
            <input #requiredSkill matInput placeholder="Skill-Sets required" type="text">
          </mat-form-field>
          <button class="icon-button" (click)="addRequiredSkillSet(requiredSkill.value); requiredSkill.value='';"><i class="fa fa-plus-square-o"></i></button>
          <div class="lang-container reg-container full-width" *ngFor="let skill of skillSetsRequired.controls; let k = index;"
               [formGroupName]="k">
                <span *ngIf="skill.value.name" class="selector lang-checkbox lang-container">
                  <!--<mat-divider *ngIf="k===0"></mat-divider>-->
                  <span class="selector">
                    {{skill.value.name}}
                  </span>
                  <span>
                    <button class="icon-button" (click)="deleteReqSkill(k)"><i class="fa fa-minus-square-o"></i></button>
                  </span>
                </span>
            <span *ngIf="skill.value.name" >
              <label>Beginner
                <input class="lang-checkbox" type="checkbox" formControlName="beginner">
              </label>
              <label>Intermediate
                <input class="lang-checkbox" type="checkbox" formControlName="intermediate">
              </label>
              <label>Advanced
                <input class="lang-checkbox" type="checkbox" formControlName="advanced">
              </label>
            </span>
          </div>
        </div>
        <div class="reg-container" formGroupName="joiningTimeline">
          <span >
            <h3>Acceptable Notice Period</h3>
            <p>(More than one option can be selected)</p>
          </span>
          <p class="full-width">
            <label>Immediate
              <input class="lang-checkbox" formControlName="immediate" type="checkbox">
            </label>
            <span formGroupName="noticePeriod">
                <label>15 Days
                  <input class="lang-checkbox" formControlName="fifteenDays" type="checkbox">
                </label>

                <label>30 Days
                  <input class="lang-checkbox" formControlName="month" type="checkbox">
                </label>

                <label>45 Days
                  <input class="lang-checkbox" formControlName="fortyFive" type="checkbox">
                </label>

                <label>60 Days
                  <input class="lang-checkbox" formControlName="twoMonths" type="checkbox">
                </label>

                <label>90 Days
                  <input  formControlName="threeMonths" type="checkbox">
                </label>
              </span>
          </p>
        </div>
        <p>
          <mat-form-field class="full-width reg-container">
            <textarea matInput formControlName="jobDescription" placeholder="Job Description and Roles" type="text" rows="12"></textarea>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="submit" class="background-primary text-floral-white button-custom"
                >Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
