<div class="grid-container container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="500px">
      <mat-grid-tile >
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h3>Overview</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <img src="../../../assets/images/graph3.gif" alt="Overview">
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile >
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title fxFlexAlign="center center">
              <h3>Upcoming Interviews</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-list>
              <mat-list-item>
                First Interview
              </mat-list-item>
              <mat-list-item>
                Second Interview
              </mat-list-item>
              <mat-list-item>
                Third Interview
              </mat-list-item>
              <mat-list-item>
                Fourth Interview
              </mat-list-item>
              <mat-list-item>
                Fifth Interview
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex>
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <h3>Matching Jobs</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <mat-list>
          <mat-list-item>
            First Interview
          </mat-list-item>
          <mat-list-item>
            Second Interview
          </mat-list-item>
          <mat-list-item>
            Third Interview
          </mat-list-item>
          <mat-list-item>
            Fourth Interview
          </mat-list-item>
          <mat-list-item>
            Fifth Interview
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
