@import "../../../theming/variables";
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway:300&display=swap');

.wrapper {
  text-align: center;
}

.custom-button {
  margin: 1rem 1rem;
  width: 20rem;
  height: 4.5rem;
  line-height: 3.5rem;
  font-size: 130%;
  color: floralwhite!important;
  background-color: $background-dark!important;
}

#oops {
  font-family: 'Lato', sans-serif;
  font-size: 15rem;
  margin: 0 0;
}

#err {
  font-family: 'Solway', serif;
  font-size: 7rem;
  margin: 0 0;
}
