/*--------------------
Chat
--------------------*/
.chat {
  position: relative;
  margin-top: 1rem;
  min-height: 45rem;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px dimgrey;
  background: azure;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: dimgrey;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}
.chat-title h1,
.chat-title h2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0;
}
.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
  width: 100%;
  height: auto;
}

/*--------------------
Messages
--------------------*/
.message {
  border-radius: 50px;
  margin: 0 15px 10px 0px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  height: 41px;
  background: dimgrey;
  padding: 10px;
  position: relative;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  height: 2rem;
  margin: 0;
  padding-right: 20px;
  width: 48rem;
}

.message-box::placeholder {
  margin-top: 1rem;
}

.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
  width: 48rem;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 0.8rem;
  right: 2rem;
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  outline: none !important;
  transition: background 0.2s ease;
}
.message-box .message-submit:hover {
  background: #1d7745;
}

// ---------------------//

.speech-result-width {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.right {
  padding: 10px;
  text-align: right;
}

.mat-input-element:disabled {
  color: rgba(0,0,0,.9);
}

.notification {
  margin-left: 20px;
  margin-right: 20px;
}

/* ----------
Voice Input
 ----------------*/

.voice-input {
  background: dimgrey;
  height: 3.5rem;
  padding: 0.25rem 0.25rem !important;
}

.voice-input .mat-fab {
  height: 3rem;
  width: 3rem;

  mat-icon {
    padding: 0 0;
  }
}



::ng-deep .voice-input .mat-fab .mat-button-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

::ng-deep .voice-input .grid-tile-left .mat-figure {
  padding-left: 1rem;
  justify-content: flex-start !important;
}

::ng-deep .voice-input .grid-tile-right .mat-figure {
  padding-right: 1rem;
  padding-top: 0.08rem;
  justify-content: flex-end !important;
  align-items: flex-start;
}

.voice-input mat-grid-tile {
  height: 100%;
  padding: 0 0 !important;
}

mat-form-field {
  font-size: 80%;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

