<div class="container" fxLayout="column" fxLayoutGap="10px">
  <form novalidate [formGroup]="registrationForm" (ngSubmit)="onCandidateSubmit()">
    <mat-accordion class="accordion-container">
      <mat-expansion-panel disabled expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Personal Details</h3>
          </mat-panel-title>
          <mat-panel-description>
            <p>Please fill these details as per government documents</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container" fxLayout="column wrap" fxLayout.gt-sm="row"  fxLayoutAlign="center center">

          <div fxFlex="70">
            <p>
              <mat-select placeholder="Title" class="half-width reg-container" formControlName="title">
                <mat-option *ngFor="let title of nameTitle" [value]="title">
                  {{ title }}
                </mat-option>
              </mat-select>
              <mat-form-field class=" half-width reg-container">
                <input matInput formControlName="firstName" placeholder="First Name" type="text" required>
                <mat-error *ngIf="registrationForm.get('firstName').hasError('required') && registrationForm.get('firstName').touched">
                  First Name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class=" half-width reg-container">
                <input matInput formControlName="middleName" placeholder="Middle Name" type="text">
              </mat-form-field>
              <mat-form-field class=" half-width reg-container">
                <input matInput formControlName="lastName" placeholder="Last Name" type="text" required>
                <mat-error *ngIf="registrationForm.get('lastName').hasError('required') && registrationForm.get('lastName').touched">
                  Last Name is required
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="half-width reg-container">
                <input matInput formControlName="mobile" placeholder="Mobile Number" type="tel" required>
                <mat-error *ngIf="registrationForm.get('mobile').hasError('required') && registrationForm.get('mobile').touched">
                  Tel Number is required
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-select placeholder="Gender" class="half-width reg-container" formControlName="gender">
                <mat-option *ngFor="let gen of genderType" [value]="gen">
                  {{ gen }}
                </mat-option>
              </mat-select>
              <mat-form-field class=" half-width reg-container">
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Date of Birth" type="text" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error *ngIf="registrationForm.get('dateOfBirth').hasError('required') && registrationForm.get('dateOfBirth').touched">
                  Date of birth is required
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-select placeholder="Title" class="min-width reg-container" formControlName="title">
                <mat-option *ngFor="let title of nameTitle" [value]="title">
                  {{ title }}
                </mat-option>
              </mat-select>
              <mat-form-field class=" min-width reg-container">
                <input matInput formControlName="fatherFirstName" placeholder="Father's First Name" type="text">
              </mat-form-field>
              <mat-form-field class=" min-width reg-container">
                <input matInput formControlName="fatherMiddleName" placeholder="Father's Middle Name" type="text">
              </mat-form-field>
              <mat-form-field class=" min-width reg-container">
                <input matInput formControlName="fatherLastName" placeholder="Father's Last Name" type="text">
              </mat-form-field>
            </p>
          </div>

          <div fxFlex="30">
            <div>
              <img class="image_responsive" src="../../../../../assets/images/placeholders/fa-user.png" *ngIf="!imageUrl" alt="Place Holder">
              <img class="image_responsive" *ngIf="imageUrl" [src]="imageUrl" style="max-width: 33rem" alt="Profile Picture">
              <input style="display: none" accept="image/*" type="file" (change)="fileProgress($event)" #fileInput/>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <button type="button" mat-button class="background-primary text-floral-white" (click)="fileInput.click()">
                  Select Profile Picture</button>
                <button type="button" mat-button class="background-primary text-floral-white" (click)="saveProfilePicture()">
                  Save</button>
              </div>
            </div>
          </div>
        </div>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="panNumber" placeholder="PAN Number" type="text">
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="aadharNumber" placeholder="Aadhar Number" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="facebook" placeholder="Facebook Link" type="text">
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="twitter" placeholder="Twitter Link" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="linkedIn" placeholder="LinkedIn Link" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width reg-container">
            <input matInput formControlName="message" placeholder="Bio" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="currentSalary" placeholder="Current Salary" type="number">
          </mat-form-field>
          <mat-form-field class="half-width reg-container">
            <input matInput formControlName="expectedSalary" placeholder="Expected Salary" type="number">
          </mat-form-field>
        </p>
        <mat-action-row>
          <button type="button" mat-button class="custom-button background-primary text-floral-white" (click)="resetCandidateForm()">
            Reset
          </button>
          <span class="flex-spacer"></span>
          <button type="submit" mat-button class="custom-button background-primary text-floral-white">
            Save
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <form novalidate [formGroup]="languageForm" (ngSubmit)="onLanguageSubmit()">
    <mat-accordion class="accordion-container">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Languages Known</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="full-width lang-container" formArrayName="languageArray">
          <div class="selector">
            <mat-select placeholder="Languages Known (max 10)" class="full-width reg-container" >
              <mat-option *ngFor="let lang of languages" (click)="addLanguage(lang)" [disabled]="language.length >= 10">
                {{ lang }}
              </mat-option>
            </mat-select>
          </div>
          <div class="selector">
            <div class="lang-container" *ngFor="let lang of language.controls; let i = index;"
                 [formGroupName]="i">
              <span *ngIf="lang.value.name" class="selector lang-checkbox lang-container">
                <span class="selector">
                  {{lang.value.name}}
                </span>
                <span>
                  <button type="button" class="icon-button" (click)="deleteLanguage(i)"><i class="fa fa-minus-square-o"></i></button>
                </span>
              </span>
              <span *ngIf="lang.value.name" >
                <label>Read
                  <input class="lang-checkbox" type="checkbox" formControlName="read">
                </label>
                <label>Write
                  <input class="lang-checkbox" type="checkbox" formControlName="write">
                </label>
                <label>Speak
                  <input class="lang-checkbox" type="checkbox" formControlName="speak">
                </label>
                <label>Native
                  <input class="lang-checkbox" type="checkbox" formControlName="native">
                </label>
              </span>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button type="button" mat-button class="custom-button background-primary text-floral-white" (click)="resetLanguageForm()">
            Reset
          </button>
          <span class="flex-spacer"></span>
          <button type="submit" mat-button class="custom-button background-primary text-floral-white">
            Save
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <span class="flex-spacer"></span>
    <button mat-button class="background-primary text-floral-white button-custom" (click)="submitForm()"
    >Save</button>
  </div>
</div>
