@import "../../../theming/variables";

body{
  margin: 2rem;
}

.custom-color {
  color: $accent-color;
}

.custom-container{
  margin: 20px;
  display: flex;
}

.reg-container {
  padding: 1rem 1rem;
}

.full-width {
  width: 95%;
}

.half-width {
  width: 65%;
}

.form-size {
  width: 85%;
}

.button-custom {
  margin-left: 1rem;
  width: 15rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 160%;
}
