@import "../../home/registration/candidateRegistration/candidateRegistration.component";

.button-custom {
  margin: 1rem 1rem;
  width: 15rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 130%;
}
