<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card style="width: 100%" class="accordion-container-custom">
    <mat-card-header>
      <mat-card-title>
        <h3>Experience -- {{totalYears}} Years {{totalMonth}} Months</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let exp of experienceArray">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{exp.experience.company}}</h3>
            </mat-panel-title>
            <mat-panel-description>
              <p>{{exp.experience.title}}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Duration</p>
          <p>
            {{exp.experience.startDate}} to {{exp.experience.endDate}}
          </p>
          <p>Skill Sets</p>
          <span *ngFor="let skill of exp.skills">{{skill}}</span>
        </mat-expansion-panel>
      </mat-accordion>
      <button mat-button class="button-custom background-primary text-floral-white" (click)="openAddExpPopUp()">
        Add Experience</button>
    </mat-card-content>
  </mat-card>
  <button mat-button class="button-custom background-primary text-floral-white" (click)="redirectToProfile()">
    Finish
  </button>
</div>

