<p>pronunciation works!</p>

<li>
  <table class="audiotable">
    <tbody>
    <tr>
      <td class="unicode audiolink"><input type="text" id="prompt_text" placeholder="Word to decode"></td>
      <td class="audiofile">
        <audio controls="controls" src="./../../assets/En-uk-to_read.ogg.ogx">
          Your browser does not support the <code>audio</code> element.
        </audio>
      </td>
      <td>Try saying:
        <button type="button" class="btn btn-primary btn-rec"> (2) Record <i class="material-icons">fiber_manual_record</i></button>
        <canvas class="meter" height="35px" width="25px"></canvas>
        <button type="button" data-word="because" class="btn btn-default btn-stop"> (3) Stop <i class="material-icons">stop</i></button>
      </td>
    </tr>
    </tbody>
  </table>
</li>

<script type="text/javascript" src="../../../assets/js/keras.ts"></script>
<script type="text/javascript" src="../../../assets/js/proneval.ts"></script>
<script type="text/javascript" src="../../../assets/js/common.ts"></script>
