@import "theming/iboxz_theme";
@import "theming/variables";
@import '../node_modules/font-awesome/scss/font-awesome';


html, body { height: 100%; }

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $background-light;
}

input,
button,
mat-card,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0 auto;
  padding: $pad-up-down $pad-left-right;
}

.container {
  margin: 20px;
  display: flex;
}

.background-primary {
  background-color: $background-dark!important;
}
.background-accent {
  background-color: $accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.custom-link a{
  color: #FF5D00;
  /*link color*/
  text-decoration: none;
  /*no underline*/
}

.custom-link:hover a{
  color: #00478F;
  /*hover Color*/
  text-decoration: none;
  /* no hover underline*/
}
