$md-iboxzblue: (
  50 : #e0e9f2,
  100 : #b3c8dd,
  200 : #80a3c7,
  300 : #4d7eb1,
  400 : #2663a0,
  500 : #00478f,
  600 : #004087,
  700 : #00377c,
  800 : #002f72,
  900 : #002060,
  A100 : #90abff,
  A200 : #5d84ff,
  A400 : #2a5dff,
  A700 : #114aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-iboxzorange: (
  50 : #ffece0,
  100 : #ffceb3,
  200 : #ffae80,
  300 : #ff8e4d,
  400 : #ff7526,
  500 : #ff5d00,
  600 : #ff5500,
  700 : #ff4b00,
  800 : #ff4100,
  900 : #ff3000,
  A100 : #ffffff,
  A200 : #fff4f2,
  A400 : #ffc8bf,
  A700 : #ffb1a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
