$fa-font-path: '../node_modules/font-awesome/fonts';

$background-light: #ddd;
$toolbar-background: #ffffff;

$background-dark: #FF5D00;
$background-light: #F5FFFA;
$background-grey: #ddd;
$background-moredark: grey;

$primary-color: #00478F;
$accent-color: #FF5D00;

