<div class="container" fxLayout="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Assessments
      </mat-card-title>
      <mat-card-subtitle>
        Assessments available for you
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-card-content>
          <button mat-button class="background-primary text-floral-white button-custom" (click)="openAssessmentDialog()">Start</button>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
